body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--theme-secondary-font-color);
  color: var(--theme-highlight-color);
}


:root {
  --theme-primary-color: #460073;
  --theme-secondary-color: #f4f4f4;
  --theme-highlight-color: #a100ff;
  --theme-primary-font-color: #FFFFFF;
  --theme-secondary-font-color: #1C2121;
  --theme-highlight-font-color: #FFFFFF;
}


p {
  color: var(--theme-highlight-font-color);
}

h {
  color: var(--theme-highlight-font-color);
}


.title {
  border: 2px solid black; 
  padding: 10px;          
  margin: 15px;           
  width: 300px;           
  height: auto;  
  border-color: #a100ff;   
  justify-content: center;
  justify-items: center;  
  text-align: center;
}


.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}






















/* Contact me section Styling */

  
  .contact {
    padding: 10px 20px;
    background-color: var(--theme-secondary-font-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    max-width: 900px;
    border-radius: 8px;
  }
  

  .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .heading span {
    color: var(--theme-highlight-color);
  }
  
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .input-box {
    display: flex;
    gap: 70px;
    flex: 1 1 100%;
  }
  
  .input-field, .textarea-field {
    flex: 1;
    position: relative;
  }
  
  .input-field input, .textarea-field textarea {
    width: 100%;
    padding: 12px 1px;
    border: 2px solid var(--theme-primary-font-color);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-field input:focus, .textarea-field textarea:focus {
    border-color: var(--theme-highlight-color);
  }
  
  textarea {
    resize: none;
    height: 150px;
  }
  
  .btn-box {
    text-align: center;
    width: 100%;
  }
  
  .btn {
    background-color: var(--theme-highlight-color);
    color: var(--theme-primary-font-color);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-box .btn:hover {
    background-color: var(--theme-primary-color);
}

  
















/* Footer Styling */

footer {
  background-color: var(--theme-secondary-font-color);
  color: var(--theme-highlight-font-color);
  text-align: center;
  padding: 1px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}